name: Build and upload to PyPI

on:
  push

jobs:
  build_wheels:
    name: Build release
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install deps
        run: |
          pip install setuptools wheel

      - name: Build wheels
        run: python setup.py sdist bdist_wheel
  
      - uses: actions/upload-artifact@v3
        with:
          path: ./dist/*
    
  upload_pypi:
    needs: build_wheels
    runs-on: ubuntu-18.04
    
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist
      
      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.torchstain_deploy_token }}
      