name: Quick Tests

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches-ignore:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Install dependencies
        run: pip install wheel setuptools

      - name: Build wheel
        run: python setup.py bdist_wheel

      - name: Upload Python wheel
        uses: actions/upload-artifact@v4
        with:
          name: Python wheel
          path: ${{github.workspace}}/dist/torchstain-*.whl
          if-no-files-found: error

  test-tf:
    needs: build
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: "Python wheel"

      - name: Install dependencies
        run: pip install tensorflow protobuf==3.20.* opencv-python-headless scikit-image pytest

      - name: Install wheel
        run: pip install --find-links=${{github.workspace}} torchstain-*
        shell: bash

      - name: Run tests
        run: pytest -vs tests/test_tf.py

  test-torch:
    needs: build
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: "Python wheel"

      - name: Install dependencies
        run: pip install torch torchvision opencv-python-headless scikit-image pytest

      - name: Install wheel
        run: pip install --find-links=${{github.workspace}} torchstain-*
        shell: bash

      - name: Run tests
        run: pytest -vs tests/test_torch.py
